@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>CourseDesk</title>
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/CourseDesk.styles.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/Auth.css" asp-asp-append-version="true" />
    </head>
    <body>
        <div class="container" style="justify-content:center;">
            <div class="heading">
                <h3>Course Desk</h3>
            </div>
            
            <div class="row">
                <div class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light box-shadow mb-3" style="justify-content:center;">
                    <ul class="navbar-nav navbar-nav flex-grow-1" >
                            <li><button class="btn btn-login btn-active" id="login">Login</button></li>
                            <li><button class="btn btn-signup" id="signup">SignUp</button></li>
                     </ul>
                </div>
            <span class="text-success">@ViewData["success"]</span>
            <div class="login" style="justify-content:center;">
                @Html.Partial("~/Views/Shared/_LoginPartial.cshtml")
                </div>
            <div class="signup" style="justify-content:center;" >
                @Html.Partial("~/Views/Shared/_SignupPartial.cshtml")
                </div>
            </div>
        </div>

        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script>
            $(document).ready(function () {
                $("#signup").click(function () {
                    $(".login").hide();
                    $(".signup").show();
                    $("#login").removeClass("btn-active");
                    $("#signup").addClass("btn-active");
                });

                $("#login").click(function () {
                    $(".signup").hide();
                    $(".login").show();
                    $("#signup").removeClass("btn-active");
                    $("#login").addClass("btn-active");
                })
            });
        </script>

        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }
    </body>

</html>

