@model IEnumerable<CourseDesk.Models.CartItem>

@{
    ViewData["Title"] = "GoToBag";

}

<h1>Shopping Cart</h1>


<div class="container bg-white" style="width:100%;display:flex;">
    <div class="row" style="width:70%;">
        
        <table>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <img class="img-thumbnail" src=@item.Course.ImageUrl alt=@item.Course.Title style="width:250px;height:175px;">
                        </td>
                        <td>
                            <h5>@item.Course.Title</h5>
                        </td>
                        <td>
                            <h6>@item.Course.Price</h6>
                        </td>
                        <td>
                            <a class="btn btn-danger" asp-controller="CartItems" asp-action="RemoveFromCart" asp-route-id="@item.Id">Remove</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div style="width:30%; height:300px; justify-content:center; align-items:center; text-align:center; padding-top:20px;">
        <div style="font-weight:600;"><h2>Total Amount</h2></div>
        <div><h4>@ViewBag.Total</h4></div>
        <a class="btn btn-success" asp-controller="Payment" asp-action="Checkout">Checkout</a>
    </div>

</div>