@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
    <head>
     <title>Success</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    </head>
    <body>
    <div class="container-fluid d-flex justify-content-center align-items-center vh-100">
        <div class="text-center">
            <div><i class="fa fa-check" style="color:green; font-size:80px;"></i></div>
            <div><h4>Your payment is successful!!!!</h4></div>
            <div><strong><em>Thanks for choosing CourseDesk. Happy Learning</em></strong></div>
            <a class="btn btn-info" asp-controller="Session" asp-action="Student">Start Learning</a>
        </div>
        </div>
    </body>
</html>
