@model IEnumerable<CourseDesk.Models.CourseMaterial>

@{
    ViewData["Title"] = "InstructorCourses";
    Layout = "~/Views/Shared/_Instructor.cshtml";
}

<h1>My Courses</h1>

<p>
    <a class="btn btn-secondary" asp-controller="CourseMaterials" asp-action="Create">Create New</a>
</p>

<table class="table custom-bg-white">
    <tbody>
   
@foreach (var item in Model) {
        <tr>
            <td style="width:1500px;">
                <a asp-controller="Lesson" asp-action="Lessons" asp-route-id="@item.Id">
                        <img class="img-thumbnail" src=@item.ImageUrl alt=@item.Title style="width:250px;">
                </a>
            </td>
            <td style="width:1500px;">
                <h3>@Html.DisplayFor(modelItem => item.Title)</h3>
                <div>@Html.DisplayFor(modelItem => item.Description)</div>
            </td>
            <td style="width:1500px;">
                    <em>₹@Html.DisplayFor(modelItem => item.Price)</em>
            </td>
            <td style="width:1500px;">
                <p>
                        <a asp-controller="Lesson" asp-action="UploadVideo" asp-route-id="@item.Id">Add Lecture</a>
                </p>
            </td>
            
        </tr>
}
    </tbody>
</table>
